// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------


// This is where your main styling goes, including whatever isn't covered by the modular stylesheets. It's usually divided up by sections of the website (header, body, footer, etc) in order to remain organized.

$image-width: 480px;
$image-border-width: 5px;

$image-list-width: 160px;
$image-list-height: $image-list-width / 4 * 3;
$image-list-border-width: 5px;

figure {
    display: block;

    margin: 4em auto;
    width: $image-width + 2 * $image-border-width;
    max-width: 100%;
    max-height: 100%;

    img {
        border: $image-border-width solid #dddddd;
        border-radius: $image-border-width;

        width: $image-width;
        max-width: 100%;
        max-height: 100%;
    }

    figcaption {
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;

        .figcaptiontitle {
            @extend h4;
            display: inline;
            max-width: 100%;
            margin: 0;
            padding: 0;
            font-size: medium;
            font-weight: normal;
        }
    }
}

span.image, div.image {
    display: block;

    margin: 4em auto;
    width: $image-width + 2 * $image-border-width;
    max-width: 100%;
    max-height: 100%;

    border: $image-border-width solid #dddddd;
    border-radius: $image-border-width;

    img {
        width: $image-width;
        max-width: 100%;
        max-height: 100%;
    }
}

.image-list {
    float: left;
    margin-right: 1em;
    width: $image-list-width + 2 * $image-list-border-width;
    height: $image-list-height + 2 * $image-list-border-width;
    max-width: 100%;
    max-height: 100%;

    background-color: #dddddd;

    border: $image-list-border-width solid #dddddd;
    border-radius: $image-list-border-width;

    position: relative;
    overflow: hidden;

    @media (max-width: 550px) {
        margin: 0 auto;
        float: none !important;
    }

    img {
        max-width: none;
        max-height: none;

        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: 100%;

        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.clearfix {
    clear: left;
}

.sourcecode-container {
    margin-bottom: 2em;
}

pre.sourcecode {
    display: block;
    max-height: 32em;
    max-width: 100%;
    overflow: auto;
}

// -------------------------------------------------------------------------
// HEADER
// -------------------------------------------------------------------------


#site-header {
    text-align: center;
    min-height: 15em;
    padding-top: 7em;
    margin-bottom: 9em;
    @media (max-width: 800px) {
        padding-top: 4em !important;
        margin-bottom: 4em !important;
    }
}


.site-header-container {
    width: 100%;
    margin: auto;
}


.blog-title {
    text-transform: none;
    letter-spacing: 6px;
    font-size: 60px;
}

.blog-description {
    padding: 0.5em 0;
    background-color: #333333;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $black-30;
    font-size: 150%;
}


#blog-logo {
    img {
        margin: 0 auto 3em auto;
    }
}


// -------------------------------------------------------------------------
// INDEX
// -------------------------------------------------------------------------


.post {
    margin-bottom: 9em;
    @media (max-width: 800px) {
        margin-bottom: 7em !important;
    }
}


.post-header {
    text-align: center;
    margin-bottom: 20px;
}


.post-title {
    padding-top: 10px;
    margin-bottom: 20px;
}


.post-time {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
    font-size: 90%;
}


.post-footer {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 90%;
    margin-top: 30px;
}


.pagination {
    text-align: center;
    margin: 4em 0 9em 0;
    color: $black-30;
    @media (max-width: 800px) {
        margin: 4em 0 6em 0 !important;
    }
}


// -------------------------------------------------------------------------
// POSTS
// -------------------------------------------------------------------------


.post-content, #site-footer {

    a {
        color: $color-link;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: $black-30;
        border-bottom: 1px solid;
    }
}


.m-logo {
    @include hidden();
}


.p-post-title {
    margin-bottom: 50px;
}


.f-1 {
    @include clearfix();
}


.author {
    float: left;

    @media (max-width: 550px) {
        float: none !important;
    }
}


@media (max-width: 550px) {
        .author {
            float: none !important;
        }

        .f-post-time {
            float: inherit !important;
    }
    }


.f-post-time {
    float: right;

    @media (max-width: 550px) {
        float: none !important;
    }
}


.f-2 {
    @include clearfix();
}


.f-post-tags {
    float: right;

    @media (max-width: 550px) {
        float: none !important;
    }
}


.share {
    float: left;

    @media (max-width: 550px) {
        float: none !important;
        margin-bottom: 1.5em;
    }
}


#comments {
    margin-top: 30px;
    @media (max-width: 550px) {
        margin-top: 1em;
    }
}


.m-page a {
    color: $color-text !important;
}


// -------------------------------------------------------------------------
// FOOTER
// -------------------------------------------------------------------------


#site-footer {
    text-align: center;
    height: 10em;

    .icon {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

